*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#ECEFFE, #CED6FB);
}

.card-link{
    width: 400px;
    display: block;
    background: #a8a8a8;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    transition: .2s ease;
}

.card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;

}

.badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size: .95rem;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}