*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-image: linear-gradient(45deg, #caf0f8, #ade8f4, #90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a);
}

header nav{
    position: absolute;
    top: 0;
    right: 10px;

    && ul{
        margin: 20px;
        border-top: 3px solid #3bbaff;
        display: flex;
        list-style-type: none;

        flex-direction: column;
        gap: 5px;

        && li a{
            color: #d5dee7;
            padding: 0 0 2px 0;
            transition: .2s;
            cursor: pointer;

            &&:hover{
                color: #ffffff;
            }

        }
    }

}

.wraper {
    padding: 80px;
}

.swiper-button-prev, .swiper-button-next{
    color: black;
}

.swiper-scrollbar{
    display: none;
}

header section{
    width: 30vw;
    height: 100vh;
    position: relative;

    && img{
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        z-index: 60;
        border-radius: 2cap;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.swiper-pagination{
display: none;
}

.bg_division{
    box-shadow:
    2.8px 2.8px 2.2px #00000000,
    6.7px 6.7px 5.3px #00000001,
    22.3px 22.3px 17.9px #00000005,
    41.8px 41.8px 33.4px #00000007,
    100px 100px 80px #00000009
    ;
}

div#bg_division1{
    padding: 20px;
    background-image: linear-gradient(45deg, #f8f9fa2b, #e9ecef2c, #dee2e62b, #ced4da2b, #adb5bd29, #6c757d29, #4950572a, #343a4029, #2125292b);
    width: 40vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(5%, -90%);
    border-radius: 9cap;

    && h1{
        margin: 0 0 10px 27%;
    }

    && p{
        margin-left: 27%;
        padding-right: 20px;
        text-align: justify;
        font-size: 10pt;
    }

}

article#more_about_us{
    width: 30%;
    border-radius: 67% 33% 70% 30% / 43% 57% 43% 57%;
    height: 70%;
    position: absolute;
    overflow: hidden;
    top: 60%;
    display: flex;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: -10%;
    transform: translate(-50%, -50%);
    background-color: #7ad0e1b6;

    && p{
        width: 65%;
        margin-bottom: -65%;
        transition: .6s;
        text-align: justify;
        hyphens: auto;
    }

}

.svg{
    scale: .2;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    position: absolute;
}

#svg2{
    top: 0%;
    left: 73%;
}

main h1{
    width: 100%;
    text-align: center;
}




main section#meeting #blocks_container{

    && img{
        width: 100px;
        height: 50px;
        background-image: url();
        margin: 30px 20px -170px 0;
        scale: 2;
    }

    && .valencias ul li{
        list-style-type: disc;
    }

    && .primaryData{
        margin: 20px 0 -150px 0;

    }
}

main section#meeting .block{
    user-select: none;
    transition: .2s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    border-radius: 2cap;
    height: 350px;
    background-color: #d8d8d8;
}
 

div#moving{
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    padding: 0 5% 0 5%;

    && #after{
        font-size: 40pt;
        position: absolute;
        padding: 1%;
        cursor: pointer;
        transition: .1s;
        border-radius: 2cap;
        right: 5%;

        &&:hover{
            background-color: #80808086;
        }

    }
    && #before{
        font-size: 40pt;
        padding: 1%;
        cursor: pointer;
        transition: .1s;
        border-radius: 2cap;

        &&:hover{
            background-color: #80808086;
        }

    }
}



main section#meeting .block p.nome::before{
    content: "Nome: ";
    font-weight: 600;
}

input{
    display: none;
}

#more_about_us h2{ 
    display: inline-block;
    overflow: hidden; 
    margin: auto;
    transition: 1s;
    width: 0;
    white-space: nowrap; 
} 

section#faq{
    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 56vh;

    && h1{
        width: 400px;
        text-align: center;
    }

}

.faq-container{
    width: 610px;
    gap: 10px;
    display: grid;
    margin-bottom: 20px;
    padding: 8px 0px;
    grid-template-columns: 1fr 1fr;
}

.list-item{
    width: 300px;
    position: relative;
    border-radius: 2cap;
    padding: 20px;
    background-color: #e2e2e2;

    && p{
        margin: 15px 0 0 0;
    }

}


@keyframes typing{ 
    from{ 
        width: 0; 
    } 
    to{ 
        width: 30%; 
    } 
}

@media (min-width: 320px) and (max-width: 480px) {
    div#bg_division1{
        display: none;        
    }

    header section{
        width: 100vw;
        background-repeat: no-repeat;
        background-image: url(https://img.freepik.com/free-photo/people-working-together-animation-studio_23-2149208028.jpg?t=st=1735121247~exp=1735124847~hmac=900ddf0d9719b62b99be8f337ac2dc511af0bdad03f1f675f537607091053f48&w=360);
        filter: brightness(70%);
        background-size: 100vw 100vh;
        && img{
            display: none;
        }
    }

    #more_about_us_container{
        height: 100vh;
        background-color: white;
    }

    header nav{
        z-index: 20;
        && li a{
            color: black;
        }
    }

    main section#meeting .block{
        grid-template-columns: 1fr;
    }

    main section#meeting #blocks_container{
        && img{
            margin: 30px auto -35px;
        }
        && .valencias h3{
            display: none;
        }
    }

}

